[Desktop Entry]
Name=redshift
Exec=/home/sarumont/.dotfiles/bin/redshift.sh
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
