[Desktop Entry]
Name=synclient2
Exec=/usr/bin/synclient TapButton2=2
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
